page-about {

    .div{
        text-align: center;
        hyphens: auto;
    }

    .logo{
        display: block;
        margin: 0 auto;
    }

    .wisper{
        font-size: small;
    }

    .h1{
        text-align: center;
    }

}
