page-settings {
    
    .icon{
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url("../assets/imgs/smile.png");
    }

    .card-settings{
        background-color:rgba(255, 254, 254, 0);
    }
}