page-search-set {

    .icon{
        display: inline;
        margin-right: 5%;
    }

    .cardname{
        display: inline;
    }
    
    .list-item{
        background-color:rgba(255, 255, 255, 0.4);
    }
}
